<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(styles=~{::styles}, content=~{::content})}">
<style th:fragment="styles">
    .content {
        margin: 0 auto;
        padding: 3px 15px 0 15px;
        font-family: sans-serif;
    }

    .content * {
        margin: 2rem 0;
    }

    a:link, a:visited {
        background-color: indigo;
    }

    a:hover {
        background-color: blueviolet;
    }

    .button {
        padding: 0.75rem 1.5rem;
        color: white;
        background-color: indigo;
        font-weight: bold;
        border-radius: 0.75rem;
    }
</style>

<div th:fragment="content" class="content">
    <p>Hey there, <span th:text="${nickname}">NICKNAME</span>,</p>
    <p>Someone (hopefully you) has created an account at InsanityID (the account provider for games
        like Cards Against my Sanity).</p>
    <p>Before you can log in and play, you will need to confirm your account by clicking the link below.</p>
    <a th:href="${app_base_url} + '/user/confirm?token=' + ${token}" target="_blank" style="color: white"
       class="button">Confirm Account</a>
    <p>Please note: This link will expire in ten (10) minutes. If you don't use it before then, you will need to request
        a new one.</p>
</div>
</html>
