<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="numeric_input(name, id, initialValue, min, max, labelText)">
    <div>
        <label th:for="${id}" class="block text-sm/6 font-medium text-gray-900" th:text="${labelText}"></label>
        <div class="mt-2">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input th:type="number" th:name="${name}" th:id="${id}" th:min="${min}" th:max="${max}" th:value="${initialValue}" required
                   class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
        </div>
    </div>
</div>
</body>
</html>
