<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        pageTitle='Logged in',
        pageHeader='You are logged in',
        alert=${alert},
        content=~{::content}
      )}"
>
<div th:fragment="content" class="flex flex-col gap-y-8">
    <p>Hello <span th:text="${nickname}" class="italic">NICKNAME</span>! You are logged in with your InsanityID. This is the authorization server &mdash; there is not a lot to do here. You might be looking for one of our games, like Cards Against my Sanity.</p>
    <form th:action="@{/logout}" method="post">
        <button type="submit"
                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Log out
        </button>
    </form>
</div>
</html>
