<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        pageTitle='Request a new confirmation email',
        pageHeader='Get a new confirmation email',
        alert=${alert},
        content=~{::content}
      )}"
>
<div th:fragment="content">
    <form class="space-y-6" th:action="@{/user/resend_confirmation}" th:object="${resendConfirmationRequest}" method="POST">
        <div th:replace="~{fragments/input :: input(type='email', name='email', id='email', autocomplete='email', labelText='Email address')}"></div>
        <div class="text-xs text-red-400" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
        <div>
            <button type="submit"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Send confirmation email
            </button>
        </div>
    </form>
    <div class="mt-10 flex flex-col gap-y-4 text-center text-sm/6 text-gray-500">
        <p>
            Don't need to confirm? <a href="/login" class="font-semibold text-indigo-600 hover:text-indigo-500">Log in here</a>
        </p>
    </div>
</div>
</html>
