<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
</head>
<body>
<div th:if="${error}" th:text="${error}"></div>
<form method="post" th:action="@{/user/signup}" th:object="${signUpRequest}">
    <div>
        <label for="email">Email:</label>
        <input id="email" required th:field="*{email}" type="email"/>
        <div th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
    </div>
    <div>
        <label for="nickname">Nickname:</label>
        <input id="nickname" name="nickname" required type="text"/>
        <div th:errors="*{nickname}" th:if="${#fields.hasErrors('nickname')}"></div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" required type="password"/>
        <div th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
    </div>
    <div>
        <label for="passwordConfirmation">Password Confirmation:</label>
        <input id="passwordConfirmation" name="passwordConfirmation" required type="password"/>
        <div th:errors="*{passwordConfirmation}" th:if="${#fields.hasErrors('passwordConfirmation')}"></div>
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>
</body>
</html>